.btn{
  margin: 13px 12px 12px 10px;
}
#p1c{
    background-color: #26d51c;
    color: white
}
#p2c{
    background-color: #4a79d1;
    color: white
}
#p3c{
    background-color: #a51d1b;
    color: white
}
#p4c{
    background-color: darkmagenta;
    color: white
}
#map_panel{
    width: 800px;
    height: 600px;
    margin: 13px 12px 12px 10px;
}